<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
	  <clear />
		<add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="MyGet" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" protocolVersion="3" />
    <add key="MyGetAspNet" value="https://dotnet.myget.org/F/aspnetcore-dev/api/v3/index.json" protocolVersion="3" />
    <add key="Local" value="C:\transient\LocalNuget" />
	</packageSources>
</configuration>
